
// this needs to compile more efficiently!
vendors = o ms moz webkit official

@keyframes rotate
	from
		transform rotate(0deg)
	to
		transform rotate(359deg)

@keyframes throb
	50%
		fill #2FC7C7
		//transform scale(1.1) translate3d(-54%, -10%, 0)
		//opacity .55
		//stroke-width 10
		//transform translate3d(0, -30px, 0)