
// vars

$root = "../images/"

// imports

@import "mixins"
@import "animations"
@import "spinner"

// reset

*
	border 0
	margin 0
	outline 0
	padding 0

// general

body
	background url($root + "ticks_@2X.png") 0 0 repeat
	background-size 200px
	font 13px "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif
	overflow hidden

a
	text-decoration none

	&:hover
		text-decoration underline

// general classes

.email
.github
.www
	background 0 center no-repeat
	background-size auto 20px
	padding-left 21px

.email
	background-image url($root + "iconmonstr-email-10-icon.svg")
.github
	background-image url($root + "iconmonstr-github-5-icon.svg")
.npm
	&:before
		content: "NPM"
		display inline-block
		font bold 8px "Courier New", Courier, monospace
		position relative
		top -2px
		text-align center
		width 21px
.www
	background-image url($root + "iconmonstr-globe-3-icon.svg")

.fade-in
	opacity 1 !important
	transition opacity .2s ease-out

.fade-out
	opacity 0 !important
	transition opacity .2s ease-out

.hide
	display none

// header

header
	margin 20px
	position absolute
	left 0
	top 0
	width 0
	z-index 100

	h1
		position absolute
		left 0
		top 0
		width 280px
	
	ul
		position absolute
		left 24px
		top 30px
		width 100px

		&:before
			color rgba(0,0,0,.2)
			content: "Contact"
			display inline-block
			font-weight bold
			position relative
			bottom -44px
			left -50px
			text-transform uppercase
			transform rotate(-90deg)

	li
		display block
		list-style none

	a
		color #000
		display block
		line-height 22px

// resume area

#resume
	position absolute
	bottom 0
	left 0
	right 0
	top 0

circle
	cursor pointer

	&.color3.throb
		animation throb 1s infinite

svg
	transition all .2s ease-out

// for color scheme see http://www.colourlovers.com/palette/580974/Adrift_in_Dreams
.color0
	fill #0B486B

.color1
	fill #A8DBA8

.color2
	fill #79BD9A

.color3
	fill #3B8686

.color4
	fill #CFF09E

// details area

.detail
	background rgba(255, 255, 255, .97)
	border-left 1px solid rgba(0,0,0,.2)
	opacity 0
	overflow-y auto
	padding 30px
	position absolute
	bottom 0
	left 0
	right 0
	top 0
	transition opacity .2s ease-out

	// overlay over map
	&:after
		gradient(transparent, #fff)
		content: ""
		height 170px
		position absolute
		left 0
		right 0
		top 0

	&.active
		opacity 1

	h3
		color #666
		font-weight normal

	h2
	.date
		&:before
			color #666
			content 'at '
			font-size 14px
			font-weight normal

	.date
		&:before
			content 'from '

	dt
		color #999
		font-size 11px
		margin 0 0 2px
		text-transform capitalize

	dd
		line-height 1.6em
		margin 0 0 10px

	li
		list-style square outside
		margin 0 0 0 16px

	.map
	.map-placeholder
		display block
		height 150px
		margin-bottom 20px

	.map
		margin -20px -20px 15px
		opacity 0

	.map-placeholder
		height (150px - 59px)
		opacity .5
		padding-top 50px
		text-align center

	.spinner
		height 88px
		margin 0 0 0 -44px
		position absolute
		left 50%
		top 50px
		width 88px

.tag
	background #999
	border-radius 3px
	color #fff
	display inline-block
	margin 0 2px 2px 0
	padding 2px 5px
	text-shadow 0 1px rgba(0,0,0,.1)

#cover
#details
	//background rgba(255,255,255,.5)
	//box-shadow inset 3px 0 5px rgba(0,0,0,.2)
	position absolute
	bottom 0
	right 0
	top 0
	z-index 1

#details
	width 50%

#cover
	padding 20px
	width 30%

	h3
		font-size 32px
		font-weight normal
		text-align right

#skills
	float right
	font-size 18px
	text-align right
	width 200px

	&:before
		content: "using"
		display block
		font-size 32px
		font-weight normal
		margin-bottom 13px
		text-align right