
// vars

$root = "../images/"

// imports

@import "mixins"
@import "spinner"

// reset

*
	border 0
	margin 0
	outline 0
	padding 0

// general

body
	background url($root + "ticks_@2X.png") 0 0 repeat
	background-size 200px
	font 13px "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif
	overflow hidden

a
	text-decoration none

	&:hover
		text-decoration underline

// general classes

.email
.github
.www
	background 0 center no-repeat
	background-size auto 20px
	padding-left 21px

.email
	background-image url($root + "iconmonstr-email-10-icon.svg")
.github
	background-image url($root + "iconmonstr-github-5-icon.svg")
.npm
	&:before
		content: "NPM"
		display inline-block
		font bold 8px "Courier New", Courier, monospace
		position relative
		top -2px
		text-align center
		width 21px
.www
	background-image url($root + "iconmonstr-globe-3-icon.svg")

.fade-in
	opacity 1 !important
	transition opacity .2s ease-out

.fade-out
	opacity 0 !important
	transition opacity .2s ease-out

// header

header
	margin 20px
	
	ul
		margin-left 24px
		width 100px

		&:before
			color rgba(0,0,0,.2)
			content: "Contact"
			display inline-block
			font-weight bold
			position relative
			bottom -44px
			left -50px
			text-transform uppercase
			transform rotate(-90deg)

	li
		display block
		list-style none

	a
		color #000
		display block
		line-height 22px

// resume area

#resume
	position absolute
	bottom 0
	left 0
	right 0
	top 0

circle
	opacity .5
	stroke 0
	transition all .2s ease-out

	&:hover
		opacity .7

	&.active
		opacity 1
		stroke #fff
		stroke-width 5px

// for color scheme see http://www.colourlovers.com/palette/580974/Adrift_in_Dreams
.color0
	fill #0B486B

.color1
	fill #A8DBA8

.color2
	fill #79BD9A

.color3
	fill #3B8686

.color4
	fill #CFF09E

// details area

.detail
	opacity 0
	overflow auto
	padding 20px
	position absolute
	bottom 0
	left 0
	right 0
	top 0
	transition opacity .2s ease-out

	&.active
		opacity 1

	h3
		color #666
		font-weight normal

	h2
	.date
		&:before
			color #666
			content 'at '
			font-size 14px
			font-weight normal

	.date
		&:before
			content 'from '

	dt
		color #999
		font-size 10px
		text-transform capitalize

	dd
		margin 0 0 10px

	li
		list-style square inside

	.map
	.map-placeholder
		display block
		height 150px
		margin-bottom 20px
		width 338px

	.map
		box-shadow 0 0 2px rgba(0,0,0,.3)
		opacity 0

	.map-placeholder
		opacity .5

.tag
	background #998087
	border-radius 3px
	color #fff
	display inline-block
	margin 0 2px 2px 0
	padding 2px 5px
	text-shadow 0 1px rgba(0,0,0,.1)

#details
	//background rgba(255,255,255,.5)
	//box-shadow inset 3px 0 5px rgba(0,0,0,.2)
	position absolute
	bottom 0
	right 0
	top 0
	width 30%